{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <form action="/add_movie" method="post">
        <!--<div class="form-group">-->
        <!--    <input autocomplete="off" autofocus class="form-control" name="destination" placeholder="Destination" type="text">-->
        <!--</div>-->
        <div class="form-group">
            <input name="movie" list=movies>
            <datalist id=movies>
                {% for item in list_books %}
                    <option value={{item['movie_name']}}>{{item['movie_name']}}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="form-group">
            <input class="form-control" name="description" placeholder="Description" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="rating" placeholder="Rating" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}