{% extends "layout.html" %}

{% block title %}
    Destinations
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Author</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for row in books %}
            <tr>
                <td>{{row[0]}}</td>
                <td><a href='/book/{{row[1]}}'>{{row[1]}}</a></td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <div class="form-group">
        <form action="/add_book" method=GET>
            <button class="btn btn-primary" type="submit" data-inline="true">Add</button>
        </form>
        <br>
        <form action="/top10_books" method=GET>
            <button class="btn btn-primary" type="submit" data-inline="true">Top 10</button>
        </form>
    </div>
{% endblock %}

<!--     <div class="form-group">
        <form action="/add" method=GET value=destinations>
            <button class="btn btn-primary" type="submit" data-inline="true">Add</button>
        </form>
        <br>
        <form action="/top10" method=GET value=destinations>
            <button class="btn btn-primary" type="submit" data-inline="true">Top 10</button>
        </form>
    </div>

    <br><br> -->

