{% extends "layout.html" %}

{% block title %}
    Destinations
{% endblock %}

{% block main %}

<!--     <div class="form-group">
        <form action="/add" method=GET value=destinations>
            <button class="btn btn-primary" type="submit" data-inline="true">Add</button>
        </form>
        <br>
        <form action="/top10" method=GET value=destinations>
            <button class="btn btn-primary" type="submit" data-inline="true">Top 10</button>
        </form>
    </div> -->

    <div>
        <table>
            <tbody>
                <tr>
                    <td justify-content:center>
                        <div>
                            <form action="/add" method=GET value=destinations>
                                <button class="btn btn-primary" type="submit" data-inline="true">Add</button>
                            </form>
                        </div>
                    </td>
                    <td justify-content:center>
                        <div>
                            <form action="/top10" method=GET value=destinations>
                                <button class="btn btn-primary" type="submit" data-inline="true">Top 10</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

<!--     <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for row in destinations %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td><a href='/destination/{{row[4]}}'>{{row[4]}}</a></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->

    {% for row in destinations %}

        <div>
            <form action="/destination/{{row[4]}}">
                <button class="btn btn-success" type="submit">{{row[4]}}</button>
            </form>
        </div>

    {% endfor %}

{% endblock %}
